.git
.gitignore
.github
.vscode
.history
.gemini
**/.env*
**/.nx/cache
**/.next
**/.turbo
**/node_modules
**/dist
**/out-tsc
**/coverage
**/test-output
**/tmp
*.tsbuildinfo
*.log
focoris-actions-deploy*
focoris-vps-known-hosts
